body {
    text-align: center;
}

h1 {
    background-color: greenyellow;
    line-height: 500%;
}

h2 {
    background-color: lavender;
}
.board{
    display: flex;
    justify-content: center;
}

table{
    text-align: center;
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}
td{
    cursor: pointer;
    border: solid black;
    width: 30px;
    height: 30px;
}
.cell {
    font-size: larger;
}